@model IEnumerable<CarStoreUI.Models.CarDto>

@{
    ViewData["Title"] = "Car Index";
    Layout = "_Layout";
}

<div class="container mt-4">
    <h2 class="h5 mb-3">Car List</h2>
    <div class="row">
        @foreach (var car in Model)
        {
            <div class="col-sm-6 col-md-4 mb-4">
                <div class="card">
                    <img src="@car.Image" class="card-img-top" alt="@($"{car.CompanyName} {car.ModelName}")">
                    <div class="card-body">
                        <h5 class="card-title">@($"{car.CompanyName} {car.ModelName}")</h5>
                        <p class="card-text">Price: @car.Price.ToString("N0") USD</p>
                        <p class="card-text">Color: @car.ColorName</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
